// fontのmixin ////////////////////////////////////////////////////////////////
// (bodyにfont-size:62.5%;をつけたら,1em=10px)//////////////////////////////////

@mixin font56 {
  font-size: 5.6em;
}

@mixin font42 {
  font-size: 4.2em;
}

@mixin font40 {
  font-size: 4em;
}

@mixin font24 {
  font-size: 2.4em;
}

@mixin font36 {
  font-size: 3.6em;
}

@mixin font34 {
  font-size: 3.4em;
}

@mixin font32 {
  font-size: 3.2em;
}

@mixin font30 {
  font-size: 3em;
}

@mixin font28 {
  font-size: 2.8em;
}

@mixin font26{
  font-size: 2.6em;
}

@mixin font22{
  font-size: 2.2em;
}

@mixin font20 {
  font-size: 2em;
}

@mixin font18 {
  font-size: 1.8em;
}

@mixin font16 {
  font-size: 1.6em;
}

@mixin font14 {
  font-size: 1.4em;
}

@mixin font12 {
  font-size: 1.2em;
}

@mixin font10 {
  font-size: 1em;
}

@mixin main-color {
  color: #a48c61;
}

@mixin regular {
  // font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin medium {
  // font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin bold {
  // font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 800;
  font-style: normal;
}

///////////////////////////////////////////////////////////////////(fontのmixin)

// レスポンシブ用fontsize(ipad)
@mixin title_re {
}

@mixin text_title_re {
}

@mixin text_me_re {
}

// レスポンシブ用fontsize(iphone)
@mixin title_i {
}

@mixin text_title_i {
}

@mixin text_me_i {
}

// imageのcss

@mixin image() {
  object-fit: cover;
  background-size: cover;
}

// containerのcss

@mixin container {
  margin: 0 8%;
}

@mixin container-inner {
  margin: 0 6%;
}

/////////////////////////////////////////////////////////////////////////////////

// paddingのcss

@mixin padding {
  padding: 5% 0;
}

@mixin padding-top {
  padding-top: 5%;
}

@mixin padding-bottom {
  padding-bottom: 5%;
}

/////////////////////////////////////////////////////////////////////////////////

// marginのcss

@mixin margin {
  margin: 5% 0;
}

@mixin margin-top {
  margin-top: 5%;
}

@mixin margin-bottom {
  margin-bottom: 5%;
}

/////////////////////////////////////////////////////////////////////////////////

//margin-bottom (pc
@mixin margin-bottom {
  margin-bottom: 5%;
}

//margin-bottom (ipad
@mixin margin-bottom {
  margin-bottom: 5%;
}

//margin-bottom (iPhone
@mixin margin-bottom {
  margin-bottom: 5%;
}
