/*newsの詳細ページ*/

.newsdetail {
  width: 70%;
  position: relative;
  &-title {
    width: 35%;
    text-align: center;
    margin-top: 5%;
    color: #a48c61;
    @include font40();
    margin: 0;
    &-sub {
      width: 35%;
      text-align: center;
      @include margin-bottom();
      @include font16();
    }
  }
  &-item {
    border-bottom: 2px solid #e8e8e8;
    width: 100%;
    position: relative;
    display: block;
    &-image {
      height: 400px;
      width: 100%;
      margin-bottom: 4%;
    }
    &-time {
      color: #000;
      @include font14();
      padding-bottom: 1%;
      border-bottom: 1px solid #a48c61;
      margin-bottom: 4%;
    }
    &-header {
      color: #a48c61;
      @include font36();
    }
    &-text {
      padding-bottom: 4%;
      @include font14();
    }
  }
}
